<div class="page">
    <section class="page-section">
        <div class="page-content hero-section">
            <div class="hero">
                <div class="hero-content">
                    <div class="hero-name">Slack Features</div>
                    <h1 class="hero-title">One platform for your
                        team and your work</h1>
                    <p class="hero-text line-height-150">All the features of Slack work together so you can, too.</p>
                    <div class="hero-buttons">
                        <a href="#" type="button" class="buttons button-primary">Try for free</a>
                        <a href="#" type="button" class="buttons button-secondary">Try for free</a>
                    </div>
                    <img src="img/hero-full.png" alt="hero image" class="hero-image">
                </div>
            </div>
            <div class="brands">
                <img src="img/brandsLogo/airbnb-logo.png" alt="airbnb" class="hero-brands">
                <img src="img/brandsLogo/intuit.png" alt="intuit logo" class="hero-brands">
                <img src="img/brandsLogo/logo-newscorp.png" alt="logo-newscorp" class="hero-brands">
                <img src="img/brandsLogo/logo-onemedical.png" alt="logo-onemedical" class="hero-brands">
                <img src="img/brandsLogo/logo-sonos.png" alt="logo-sonos" class="hero-brands">
                <img src="img/brandsLogo/target-logo.png" alt="target-logo" class="hero-brands">
                <img src="img/brandsLogo/uber.png" alt="uber" class="hero-brands">
                <img src="img/brandsLogo/va.png" alt="va-logo" class="hero-brands">
            </div>
        </div>
    </section>
    <section class="page-section page-section-beige">
        <div class="page-content features-section">
            <div class="features-info">
                <h2 class="features-title">
                    Work more easily with everyone
                </h2>
                <p class="features-text line-height-150">
                    Stay on the same page and make decisions faster by bringing all of your
                    work communication into one place.
                </p>
            </div>
            <div class="grid-4">
                <div class="cards-style big-card">
                    <span class="icon icon-features" style="background-image: url(/svg/connect.svg);"></span>
                    <h3>
                        Slack Connect
                    </h3>
                    <p class="line-height-150">
                        Collaborate with teams at other
                        companies the same way you do
                        with teams at your own.
                    </p>
                    <a href="#" class="icon icon-arrow click features-link"></a>
                </div>
                <div class="cards-style">
                    <span class="icon icon-features" style="background-image: url(/svg/channels.svg);"></span>
                    <h3>
                        Channels
                    </h3>
                    <a href="#" class="icon icon-arrow click features-link"></a>
                </div>
                <div class="cards-style">
                    <span class="icon icon-features" style="background-image: url(/svg/huddles.svg);"></span>
                    <h3>
                        Huddles
                    </h3>
                    <a href="#" class="icon icon-arrow click features-link"></a>
                </div>
                <div class="cards-style">
                    <span class="icon icon-features" style="background-image: url(/svg/clips.svg);"></span>
                    <h3>
                        Clips
                    </h3>
                    <a href="#" class="icon icon-arrow click features-link"></a>
                </div>
                <div class="cards-style">
                    <span class="icon icon-features" style="background-image: url(/svg/canvas.svg);"></span>
                    <h3>
                        Canvas
                    </h3>
                    <a href="#" class="icon icon-arrow click features-link"></a>
                </div>
                <div class="cards-style">
                    <span class="icon icon-features" style="background-image: url(/svg/messaging.svg);"></span>
                    <h3>
                        Messaging
                    </h3>
                    <a href="#" class="icon icon-arrow click features-link"></a>
                </div>
                <div class="cards-style">
                    <span class="icon icon-features" style="background-image: url(/svg/accessibility.svg);"></span>
                    <h3>
                        Accessibility
                    </h3>
                    <a href="#" class="icon icon-arrow click features-link"></a>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section page-section-beige">
        <div class="page-content second-features-section ">
            <div class="features-info margin-right-35">
                <h2 class="section-title">
                    What you need, when you need it
                </h2>
                <p class="features-text line-height-150">Spend less time shuffling tabs with a comprehensive message
                    archive and
                    all your work tools at your fingertips.</p>
            </div>
            <div class="grid-3">
                <div class="cards-style big-card">
                    <span class="icon icon-features" style="background-image: url(/svg/apps.svg);"></span>
                    <h3>
                        Apps and Integrations
                    </h3>
                    <p class="line-height-150">
                        Streamline work by connecting
                        Slack with other services like
                        Google Drive, Office 365 and
                        over 2,200 more.
                    </p>
                    <a href="#" class="icon icon-arrow click features-link"></a>
                </div>
                <div class="cards-style big-card">
                    <span class="icon icon-features" style="background-image: url(/svg/workflow.svg);"></span>
                    <h3>
                        Workflow Builder
                    </h3>
                    <p class="line-height-150">
                        Automate routine actions and
                        communication, so you can get
                        back to the kind of work only
                        humans can do.
                    </p>
                    <a href="#" class="icon icon-arrow click features-link"></a>
                </div>
                <div class="cards-style">
                    <span class="icon icon-features" style="background-image: url(/svg/search.svg);"></span>
                    <h3>
                        Search
                    </h3>
                    <a href="#" class="icon icon-arrow click features-link"></a>
                </div>
                <div class="cards-style">
                    <span class="icon icon-features" style="background-image: url(/svg/sharing.svg);"></span>
                    <h3>
                        File sharing
                    </h3>
                    <a href="#" class="icon icon-arrow click features-link"></a>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section">
        <div class="page-content customer-section">
            <div class="small-section">
                <div class="customer-card ">
                    <img src="/img/customer-section.png" alt="delivery men" class="customer-section-image">
                    <div class="customer-description">
                        <div class="customer-section-text line-height-150">
                            “The thing that keeps us connected
                            the most is Slack. It’s a very
                            immediate and straightforward
                            method of communication, and
                            really the only channel that people
                            prefer and enjoy using.”
                        </div>
                        <img src="/img/deliveroo-logo.png" alt="Deliveroo-logo">
                        <p class="card-caption">Will Sprunt, CIO, Deliveroo</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section">
        <div class="page-content promo-inform">
            <div class="small-section">
                <h2 class="section-title">Explore more about working in Slack</h2>
                <div class="cards-block">
                    <div class="vert-card-photo">
                        <img src="/img/promo-media-tutorial.png" alt="tutorial image" class="photo-card">
                        <div class="paddings">
                            <p class="photo-caption">Slack Tutorials</p>
                            <h4 class="vert-card-title line-height-150">Slack 101</h4>
                        </div>
                        <div class="card-caption-bottom paddings">
                            <div>
                                <p>Learn more</p>
                            </div>
                            <div>
                                <a href="#" class="icon click promo-link"></a>
                            </div>
                        </div>

                    </div>
                    <div class="vert-card-photo">
                        <img src="/img/promo-media-mail.png" alt="mail image" class="photo-card">
                        <div class="paddings">
                            <p class="photo-caption">Slack vs. Email</p>
                            <h4 class="vert-card-title line-height-150">An easier, more organized way to work</h4>
                        </div>
                        <div class="card-caption-bottom paddings">
                            <div>
                                <p>Learn more</p>
                            </div>
                            <div>
                                <a href="#" class="icon click promo-link"></a>
                            </div>
                        </div>
                    </div>
                    <div class="vert-card-photo">
                        <img src="/img/promo-media-customer.png" alt="customer image" class="photo-card">
                        <div class="paddings">
                            <p class="photo-caption">Customer Stories</p>
                            <h4 class="vert-card-title line-height-150">How Fastly uses Slack Connect to wow enterprise
                                customers</h4>
                        </div>
                        <div class="card-caption-bottom paddings">
                            <div>
                                <p>Learn more</p>
                            </div>
                            <div>
                                <a href="#" class="icon click promo-link"></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
</section>
</div>