:root {
  --space-sm: 12px;
  --space-med: 24px;
  --color-main: #212529;
  --color-second: #6c757d;
  --color-third-muted: #767676;
  --color-nav: #343a40;
  --color-blue: #0d6efd;
  --color-border: #d3dee9;
  --margin_block: 80px;
  --padding-border: 24px;
  --font-main: 'Roboto', sans-serif;
  --font-size-text-primary: 16px;
  --font-size-title-first: 24px;
  --font-size-title-second: 18px;
}
footer {
  border-top: 1px solid var(--color-border);
  padding: var(--padding-border) 0px;
}
.page {
  background-color: #ffffff;
  font-family: var(--font-main);
  color: var(--color-main);
  padding: 0 var(--space-sm);
  display: flex;
  justify-content: center;
}
.page_content {
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: var(--space-med) 0;
  border-bottom: 1px solid #dee2e6;
}

.badge_block {
  background-color: rgb(17, 255, 187);
  border: 1px sold var(--color-border);
  width: 24px;
  height: 24px;
  border-radius: calc(var(--space-sm) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.badge_logo {
  font-size: 14px;
}
.nav {
  display: flex;
}
.nav_links {
  text-decoration: none;
  font-size: var(--font-size-text-primary);
}
.nav_links:hover {
  color: blue;
  text-decoration: underline;
}
.nav_inline {
  gap: var(--space-med);
}

.nav_inline > a {
  color: var(--color-nav);
}
.nav_vertical > a {
  color: #6c757d;
}
.nav_vertical {
  flex-direction: column;
  gap: var(--space-sm);
}

.main_block {
  display: flex;
  width: 100%;
  gap: 40px;

  align-items: flex-start;
}
.messages_block,
.form {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  padding: 24px;
  gap: var(--space-med);
}
.messages_block {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  box-shadow: 0 4px 17px 0 rgba(0, 0, 0, 0.1);
  flex-grow: 40;
}
.messages {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-text-primary);
  gap: var(--space-sm);
  position: relative;
}
.messages_title {
  font-size: var(--font-size-title-first);
  padding-bottom: var(--space-sm);
}
.messages_title,
.messages {
  border-bottom: 1px solid var(--color-border);
  padding-bottom: var(--space-sm);
}
.messages_day {
  color: var(--color-second);
  position: absolute;
  right: 0;
  top: 0;
  padding-left: 36px;
}
.list_title {
  font-weight: 700;
}
.messages_link {
  align-self: flex-end;
  font-size: 14px;
  color: var(--color-blue);
  transition: opacity 0.7s;
}
.messages_link:hover {
  opacity: 0.7;
}
.form {
  flex-grow: 24;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.form_title {
  font-weight: 400;
  font-size: var(--font-size-title-first);
  text-align: center;
}
.form_input {
  margin-bottom: var(--space-sm);
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 16px;
  width: 100%;
}
.form_input::placeholder {
  font-size: var(--font-size-text-primary);
  color: var(--color-main);
}
.checkbox_block {
  display: flex;
  gap: 8px;
}

.checkbox_item ~ div {
  width: 13px;
  height: 13px;
  border: 1px solid #767676;
  border-radius: 4px;
}
.checkbox_item:checked ~ div {
  background-color: var(--color-blue);
}
.checkbox_item {
  display: none;
}
.checkbox_label {
  text-align: center;
  font-size: var(--font-size-text-primary);
}
.form_button {
  border-radius: 4px;
  background-color: var(--color-blue);
  padding-block: 8px;
  color: #fff;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  font-weight: 400;
}
.form_info {
  font-size: var(--font-size-text-primary);
  color: var(--color-second);
  text-align: center;
  line-height: 150%;
}
.advantages {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  );
  grid-template-rows: 1fr;
}
.advantages_item {
  width: 100%;
  padding: var(--space-med);
  border: 1px solid #e4eaf2;
  border-radius: 12px;
}
.advantages_title {
  font-size: var(--font-size-title-second);
  font-weight: 700;
  padding-bottom: 9px;
}
.advantages_text {
  font-weight: 400;
  font-size: var(--font-size-text-primary);
  line-height: 150%;
  color: var(--color-third-muted);
}
.footer_block {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
}
.footer_block > div:first-of-type {
  grid-column: 1 / 3;
}
.footer_copyright {
  /* display: block; */
  color: var(--color-second);
  font-size: var(--font-size-text-primary);
  margin-top: var(--space-sm);
}

.footer_title {
  margin-bottom: var(--space-sm);
  color: #212529;
  font-size: var(--font-size-text-primary);
  font-weight: 500;
}
