{{#with data}}
<div class="news_card">
    <h2 class="news_title">{{title}}</h2>
    <div class="news_info">{{date}} by <span class="news_author">{{author}}</span></div>
    <p>{{description}}</p>
    <div>
        <a href="#" class="block_links">Continue reading</a>
    </div>
</div>
{{/with}}