<div class="linksList">
    <ul>
        <h3 class="links_title">{{title}}</h3>
        {{#each data}}
        <li>
            <a href="{{url}}" class="general_links">{{text}}</a>
        </li>
        {{/each}}
    </ul>
</div>